// primary and secondary
$primary:#81A954;
$secondary:#3D42AD;

// background
$base:#EFF3F8;
$bg-light:#FBFBFB;
$white:#fff;

// color
$text-light:#959BA4;
$text-dark:#4B5563;

// border
$border:#E4E6E8;
