<section class="login-screen">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-5 mx-auto">
        <div class="card">
          <div class="card-body">
            <form>
              <h2 class="text-primary text-center fw-bold">Forgot Password</h2>
              <p>Enter Your Email, We’ll send password Reset link to your Email</p>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Enter Email</label>
                <input type="email" class="form-control" formControlName="username" id="exampleFormControlInput1"
                  placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Reset Password</button>
              </div>
              <p class="text-center text-dark mb-0">Back to Login?</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
