<section class="bg-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <h6 class="card-title">Top 5 Clients</h6>
            <table class="table bg-light mb-0">
              <thead>
                <tr>
                  <th scope="col">
                    <p>NAME</p>
                  </th>
                  <th scope="col">
                    <p>TOTAL</p>
                  </th>
                  <th scope="col">
                    <p>SPENT</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p>Mark Philips</p>
                  </td>
                  <td>
                    <p>500000</p>
                  </td>
                  <td>
                    <p>100000</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Mark Philips</p>
                  </td>
                  <td>
                    <p>500000</p>
                  </td>
                  <td>
                    <p>100000</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Mark Philips</p>
                  </td>
                  <td>
                    <p>500000</p>
                  </td>
                  <td>
                    <p>100000</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Mark Philips</p>
                  </td>
                  <td>
                    <p>500000</p>
                  </td>
                  <td>
                    <p>100000</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Mark Philips</p>
                  </td>
                  <td>
                    <p>500000</p>
                  </td>
                  <td>
                    <p>100000</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
