@import '../../../assets/scss/variables.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-side {
  border-right: none;
}

.mat-drawer {
  background-color: $white;
}

.mat-toolbar.mat-primary {
  background: $white;
  color: $text-dark;
}

.mat-drawer-container {
  background-color: $white;
  color: $text-dark;
}

.mat-mdc-list-base {
  --mdc-list-list-item-label-text-size: 15px;
}

.mdc-list-item__primary-text {
  color: $text-dark;
}

.mdc-list {
  margin: 0;
  padding: 2px 0px 4px 8px;
}

.sidebar-icons {
  i {
    font-size: 16px;
    margin-right: 8px;
  }
}

.mat-toolbar-single-row {
  padding: 0 16px 0 0;
}

.logo{
  height: 32px;
  margin-left: 20px;
}

.profile-img{
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
}

a{
  text-decoration: none;
}