<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="../../../assets/images/logo.png" class="img-fluid logo">
    </mat-toolbar>
    <!-- // Add active class in mat-nav-list tag for navigation // -->
    <mat-nav-list *ngFor="let item of menu" class="d-flex align-items-center sidebar-icons active">
      <a mat-list-item [routerLink]=[item.link]>
        <i class="{{ item.icon }}"></i>
        {{item.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-block w-100">
      <div class="d-flex justify-content-between align-items-center pt-2 toolbar-icons">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <!-- *ngIf="isHandset$ | async" -->
          <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
          <mat-icon aria-label="Side nav toggle icon" class="icon-collapse fs-18"></mat-icon>
        </button>
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center">
            <i class="icon-help"></i>
            <p class="ms-2 mb-0 fs-14 fw-medium">Help</p>
          </div>
          <i class="icon-notification ms-3"></i>
          <i class="icon-setting ms-3"></i>
          <div class="d-flex ms-3" style="height: 20px;">
            <div class="vr"></div>
          </div>
          <div class="dropdown ms-3">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/profile-img.jpg" class="img-fluid profile-img">
                <p class="ms-2 fs-14 fw-medium mb-0 text-dark">User Name</p>
                <i class="icon-down-arrow ms-2 fs-10"></i>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <span>escrow</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
