<section class="login-screen">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-5 mx-auto">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2 class="text-primary text-center fw-bold">LOGIN</h2>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="username" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" formControlName="rememberMe" id="flexCheckChecked" checked>
                <label class="form-check-label text-light" for="flexCheckChecked">
                  Keep me Sign in
                </label>
              </div>
              <p class="mb-0 text-light">Forget Password?</p>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary w-100">SIGN IN</button>
            </div>
            <p class="text-center text-dark mb-0">New User? <span class="text-primary">Sign Up</span></p>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
