/* You can add global styles to this file, and also import other style files */


$theme-colors: ("primary": #81A954,
  "secondary": #3D42AD,
  "success": #48BB78,
  "info": red,
  //   "warning": $warning,
  //   "danger": $danger,
  //   "light": $light,
  //   "dark": $dark
);

@import "../node_modules/bootstrap/scss/bootstrap";

@import '../src/assets/scss/variables.scss';
@import '../src/assets/scss/bootstrap-theme.scss';
@import '../src/assets/scss/material-theme.scss';
@import '../src/assets/scss/fonts.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  background-color: $base !important;

  .bg-page {
    background-color: $base;
    border-radius: 16px 16px 0 0;
    margin: 0px 20px 0px 10px;
  }
}
